
*{
 margin: 0;
 padding: 0;
 box-sizing: inherit;
 
}

html{
 font-size: 62.5%;
 overflow-x: hidden;
 @media only screen and (max-width: 60em) {
  font-size: 50%;
 }

}

body{
 box-sizing: border-box;
 // padding: 2rem;
 font-family: 'IBM Plex Sans Condensed', sans-serif;
 overflow-x: hidden;
 background-color: $color-secondary;
}