$color-primary: #0074D9;
$color-secondary: #3D9970;
$color-gray-1: #f7f7f7;
$color-white-snow: #F5F5F5;
$color-yellow-1: #FFDC00;
$color-orange-1:#FF851B;
$color-maroon-1: #85144b;
$color-fuchsia-1: #F012BE;
$color-purple-1: #B10DC9;
$color-navy-1: #001f3f;
$color-blue-1:#0074D9;
$color-green-1:#2ECC40;
$color-lime-1: #01FF70;
$color-gray-primary:#AAAAAA;
$color-gray-2: #D3D3D3;
$color-gray-3: #B0B0B0;
$color-gray-4: #888888;
$color-red-primary: #FF4136;
$color-black-1:#111111;
$color-deep-gray: #393f4d;
$color-dark-slate: #1d1e22;
