@import '../../../styles.scss';

.footer{
 // height: 13rem;
 background-color: $color-dark-slate;
 display: flex;
 align-items: center;
 &__container{
  display: flex;
  width: 75%;
  margin: 8rem auto;
  // background-color: red;
  justify-content: space-between;
  @media only screen and (max-width: 50em) {
     flex-direction: column;
     margin: 3rem auto;
  }
  
  &__title{
   display: flex;
   align-items: center;
   text-align: center;
   font-size: 3rem;
   color: white;
   @media only screen and (max-width: 50em) {
    margin: 2rem auto ;
    font-size: 5rem;
    }

  }
  &__img{
   display: flex;
   align-items: center;

   @media only screen and (max-width: 50em) {
     flex-direction: column;
   }
   img{
    height: 4rem;
    margin: 0 1.5rem;
    @media only screen and (max-width: 50em) {
     margin: 1rem 0;
   }
   }
  }
 }


}