@import '../../../styles.scss';

.footer{
 // height: 13rem;
 background-color: $color-dark-slate;
 display: flex;
 align-items: center;
 &__container{
  display: flex;
  width: 75%;
  margin: 8rem auto;
  // background-color: red;
  justify-content: space-between;
  
  &__title{
   display: flex;
   align-items: center;
   text-align: center;
   font-size: 3rem;
   color: white;

  }
  &__img{
   display: flex;
   align-items: center;
   img{
    height: 5rem;
   }
  }
 }


}