<app-navbar></app-navbar>


<div class="container">

  <section class="add-spend">
    
    <div class="title" >
      
      <h2 >Gave away some money?</h2>
      <h1>Record it here and keep tracking your spends!</h1>
    </div>
    
    
    <form [formGroup]="addForm" (ngSubmit)="addSubmit()" class="add-spend__form">
      <!-- Amount input -->
      <label for="amount">How much did you spend?</label>
      <input name="amount" type="number" placeholder="1500" formControlName="amount" class="add-spend__form__input-text">
      
      <!-- Category input -->
      <h2>Select a category</h2>
      <!-- Loading spinnger -->
      <div class="spinner" *ngIf="!isCategoriesLoaded">
          <h4>Loading categories...</h4>
        <img src="../../../assets/img/loader2.svg" alt="">
      </div>
      <div class="add-spend__form__input-radio" *ngFor="let category of user.costCategories; let i = index" >
        <label for="category" >
          <input name="category" id="{{category.name}}" formControlName="category" class="add-spend__form__input-radio__field" type="radio" value="{{category.name}}">
            <label for="{{category.name}}">{{category.name}}</label>
          <!-- <p>Bars and entertainment</p> -->
          <div class="add-spend__form__input-radio__image" >
            <img src={{category.img}} alt="{{category.name}}" >
          </div>
        </label>

      </div>
<!-- Add further elements to list -->

<!--Form submit btn  -->
<div class="add-spend__form__btn-container">
  <input type="submit" value="Add spend" class="btn-primary" [disabled]="!addForm.valid">
</div>

</form>
  <div class="add-categories">
    <div class="add-categories__text">
      <h3>Add your own categories!</h3>
    </div>
    <div class="add-categories__container">
      <input type="text" class="add-spend__form__input-text"  placeholder="Add further categories!" id="addedCategory" [(ngModel)]="addedCategory">
      
      <div class="add-categories__container__button" (click)="addCategory()">
        <i class="fas fa-plus"></i>
       </div>
     </div>
     
   </div> 
  
  </section>
  
</div>