<app-navbar></app-navbar>

<div class="container">
  <!-- Login form -->
  <section class="add-spend">
  
    <div class="title">
      <i class="fas fa-file-invoice-dollar"></i>
      <h2>Gave away some money</h2>
      <h1>Record it here and keep tracking your spends!</h1>
    </div>
  
    <form [formGroup]="addForm" (ngSubmit)="addSubmit()" class="add-spend__form">
      
      <label for="amount">How much did you spend?</label>
      <input name="amount" type="number" placeholder="1500" formControlName="amount" class="add-spend__form__input">
  
      <label for="date">When did purchase something?</label>
      <input name="date" type="date" formControlName="date" class="add-spend__form__input">

      <label for="category">What was the money spent on?</label>
      <select name="category" formControlName="category" class="add-spend__form__input">
        <option value="Cash">Cash</option>
        <option value="Cash">Grocery</option>
        <option value="Cash">Bars and entertainment</option>
        <option value="Cash">Recreation</option>
      </select>
  
      <div class="add-spend__form__btn-container">
        <input type="submit" value="Add spend" class="btn-primary" [disabled]="!addForm.valid">
      </div>
  
    </form>
  
  </section>

</div>