
@import '../../../styles.scss';

.spinner{
  text-align: center;
  h4{
    color: white;
    font-size: 4rem;
  }
}

.container{
  
  background-color: $color-primary;
  display: flex;
  align-items: center;
}

.title{
  text-align: center;
  color: white;
  i{
    font-size: 15rem;
  }
  h1{
    font-size: 5rem;
  }
}

.add-spend{
  // background-color: red;
  flex: 1;
  &__form{
    margin: 0rem auto;
    padding: 2rem;
    width: 60%;

    @media only screen and (max-width:50em) {
      width:100%;
    }
    

    
    &__input-text{
    
      width: 100%;
      margin: 1rem 0rem;
      height: 8rem;
      text-align: center;
      font-size: 2rem;
      border: .2rem white solid;
      
    }

    &__input-radio{
      
      
      label{
       
        display: flex;
        background-color: white;
        margin: 1rem 0;
        padding: 0rem 2rem;
        font-size: 2.2rem;
        justify-content: space-between;
        align-items: center;
        text-transform: uppercase;
        
      }
        &__field{
          
        }
        &__image{
        margin: 1rem;
        padding: 1rem;
        border-radius: 100%;
        background-color: $color-primary;
        color: white; 
        img{
          height: 1.5rem;
          width: 2.5rem;
          // background-color: white;
          svg{
            color: white;
          }

        }
        }

    }
    &__btn-container{
      
      width: 100%;
      
      input{
        cursor: pointer;
        width: 100%;
        font-size: 2.5rem;
      }
    }
    &__loginChange{
      text-transform: uppercase;
      font-size: 1.4rem;
      text-align: right;
      padding: .7rem 0;
     
      &__loginLink{
          color: $color-blue-1;
          cursor: pointer;


        }

    }
  }
}

.add-categories{

  margin: 1rem auto;
  width: 60%;
  @media only screen and (max-width:50em) {
    width: 90%;
  }

  &__text{
    text-align: center;
    font-size: 2rem;
    color: white;
  }
  &__container{
    position: relative;
    // background-color: yellow;
    
    &__button{
      position: absolute;
      top: 50%;
      right: -5%;
      transform: translateY(-50%);
      background-color: $color-primary-dark;
      border-radius: 50%;
      padding: 3rem;
      i{
        color: white;
        font-size: 3.5rem;
        transition: all .2s;
      }
    }

    &__button:hover{
      i{
        font-size: 4rem;
        transition: all .2s;
      }
    }
  }
}