
<div class="row">
  <section class="register">

    <form [formGroup]="registerForm" (ngSubmit)="OnSubmit()" class="register__form" >
      <label for="email"></label>
      <input name="email" type="text" placeholder="Email address" formControlName="email" class="register__form__input">
      
      <label for="password"></label>
      <input name="password" type="password" placeholder="Password" formControlName="password" class="register__form__input">
      
      <label for="confirm_password"></label>
      <input name="confirm_password" type="password" placeholder="Password" formControlName="confirm_password" class="register__form__input">

      <div class="register__form__btn-container">
        <input type="submit" value="register" class="btn-primary">
        <button class="btn-secondary">Login</button>

      </div>
    </form>
  </section>
</div>