
<div class="container">

  
  
  <!-- Register form -->
  <section class="register-login" *ngIf="!isLogin">
    
    <div class="title">
      <i class="fas fa-file-invoice-dollar"></i>
      <h1>Spend Monitor</h1>
      <h2>by Mate BORKESZ</h2>
    </div>
    
    <form [formGroup]="registerForm" (ngSubmit)="registerSubmit()" class="register-login__form" >
      
      <input name="email" type="text" placeholder="Email address" formControlName="email" class="register-login__form__input"> 
      <span *ngIf="registerForm.controls.email?.errors?.required && registerForm.controls.email.touched" class="register-login__form__input__error-msg">Email
        is required!</span>
      <span *ngIf="registerForm.controls.email?.errors?.email && registerForm.controls.email.touched" class="register-login__form__input__error-msg">Must
        be an email address</span>
      
      
      <input name="password" type="password" placeholder="Password" formControlName="password" class="register-login__form__input">
      <span *ngIf="registerForm.controls.password?.errors?.required && registerForm.controls.password.touched" class="register-login__form__input__error-msg">Password
        is required!</span>
      
      <input name="confirm_password" type="password" placeholder="Confirm Password" formControlName="confirm_password" class="register-login__form__input">
      <span *ngIf="registerForm.controls.confirm_password?.errors?.required && registerForm.controls.confirm_password.touched" class="register-login__form__input__error-msg">Confirm password
        is required!</span>

      <span *ngIf="registerForm.controls.confirm_password?.errors?.MatchPassword && registerForm.controls.confirm_password.touched"
        class="register-login__form__input__error-msg">Password and confirm password must match!</span>
      

      <div class="register-login__form__btn-container">
        <input type="submit" value="register" class="btn-primary" [disabled]="!registerForm.valid"
        >
      </div>

      <div class="register-login__form__loginChange">
        <p>Already registered? <span><a class="register-login__form__loginChange__loginLink" (click)="loginRegisterToggler()">Click here </a></span> to log in!</p> 
      </div>  
    </form>


    
  </section>




  <!-- Login form -->
  <section class="register-login" *ngIf="isLogin">

    <div class="title">
      <i class="fas fa-file-invoice-dollar"></i>
      <h1>Spend Monitor</h1>
      <h2>by Mate BORKESZ</h2>
    </div>

    <form [formGroup]="loginForm" (ngSubmit)="loginSubmit()" class="register-login__form">
  
      <input name="email" type="text" placeholder="Email address" formControlName="email" class="register-login__form__input">
      <span *ngIf="loginForm.controls.email?.errors?.required && loginForm.controls.email.touched"
       class="register-login__form__input__error-msg">Email is required!</span>
      <span *ngIf="loginForm.controls.email?.errors?.email && loginForm.controls.email.touched" class="register-login__form__input__error-msg">Must be an email address</span>
    
      <input name="password" type="password" placeholder="Password" formControlName="password" class="register-login__form__input">
      <span *ngIf="loginForm.controls.password?.errors && loginForm.controls.password.touched"
       class="register-login__form__input__error-msg">Password is required!</span>
      
      <div class="register-login__form__btn-container">
        <input type="submit" value="Login" class="btn-primary" [disabled]="!loginForm.valid">
      </div>
  
      <div class="register-login__form__loginChange">
        <p>Not registered yet? <span><a class="register-login__form__loginChange__loginLink" (click)="loginRegisterToggler()">Click here </a></span> to
          register!</p>
      </div>
    </form>

    <div class="register-login__form__google">
      <img src="../../../assets/img/google_signin.png" alt="Google Login" (click)="googleLogin()">
    </div>
  
  </section>
  


</div>