<app-navbar></app-navbar>
<!-- Loading icon before expenses fetched from db -->
<div class="spinner" *ngIf="!expensesLoaded">
  <h4>Loading your spends...</h4>
  <img src="../../../assets/img/loader.gif" alt="">
</div>

  <div class="container" *ngIf="!expensesAdded && expensesLoaded">
    <div class="balance-total">
      <div class="balance-total__spend">
        <h4>No spend to show yet! Click on add spends!</h4>
  
      </div>
    </div>

    <!-- Add spend btn -->
    <div class="add-spend" (click)="addSpendRoute()">
      <div class="add-spend__icon">
    
        <i class="fas fa-plus"></i>
      </div>
    </div>

  </div>



  <div class="container" *ngIf="expensesLoaded && expensesAdded">
    
    
    <div class="balance-total">
        <!-- Current date display  -->
        <div class="current-date-range" *ngIf="!isFilterActive">
          <h4>Selected date range:</h4>
          <h3>All time</h3>
        </div>
        
        <div class="current-date-range" *ngIf="isFilterActive">
          <h4>Selected date range:</h4>
          <h3>{{fromDate | date: 'yyyy.MM.dd.'}} to {{toDate | date: 'yyyy.MM.dd.'}}</h3>
          
        </div>
      <div class="balance-total__spend">
        <h5>Your total spend: <span>{{totalSpend | currency : 'HUF' : 'symbol' : '1.0' }}</span> </h5>

      </div>
    </div>

   

    
    <!-- Default date ranges -->
    
    <div class="default-range">
    
      <div class="default-range__btn">
        <button class="default-range__all-time" (click)="clearDateFilter()">All time</button>
      </div>
    
      <div class="default-range__btn">
        <button class="default-range__last-month" (click)="getLastMonth()">Last month</button>
      </div>
    
      <div class="default-range__btn">
        <button class="default-range__this-month" id="this-month-btn" (click)="getThisMonth()">This month</button>
      </div>
    
      <div class="default-range__btn">
        <button class="default-range__yesterday" (click)="getYesterday()">Yesterday</button>
      </div>
    
      <div class="default-range__btn">
        <button class="default-range__today" (click)="getToday()">Today</button>
      </div>
    
    </div>

   
<app-chart></app-chart>
    <!-- Add spend btn -->
  <div class="add-spend" (click)="addSpendRoute()">
    <div class="add-spend__icon">

      <i class="fas fa-plus"></i>
    </div>
  </div>




  <!-- Expenses -->
  <section class="expenses-container" *ngIf="expensesLoaded">
    
    <!-- Datepicker -->
    <div class="expense-date-filter">

      <form [formGroup]="datePickerForm" (ngSubmit)="datePickerSubmit()" >
        <mat-form-field>
          <input matInput [matDatepicker]="picker1" placeholder="Choose a from date" formControlName="fromDate">
          <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
          <mat-datepicker #picker1></mat-datepicker>
        </mat-form-field>
  
        <mat-form-field>
          <input matInput [matDatepicker]="picker2" placeholder="Choose a to date" formControlName="toDate">
          <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
          <mat-datepicker #picker2></mat-datepicker>
        </mat-form-field>
  
        <input type="submit" value="Set date" class="btn-primary" [disabled]="!datePickerForm.valid">  
      </form>
      
    </div>




<!-- Expenses filter is inactive -->
    <div id="notFiltered" *ngIf="!isFilterActive" >
      <div class="expense"
      *ngFor="let expense of starterExpenses"
        (click)="editToggle(expense)">
          <div class="expense__category" >
            <div class="expense__category__icon">
              <div class="expense__category__icon__bg">
                <img src="{{expense.img}}" alt="{{expense.category}}">
              </div>
            </div>
            <div class="expense__category__name">
              <p>{{expense.category}}</p>
            </div>
          </div>

          <div class="expense__amount-date">
            <div class="expense__amount-date__amount">
              <p>{{expense.amount | currency : 'HUF' : 'symbol' : '1.0'  }}</p>
            </div>

            <div class="expense__amount-date__date">
              {{expense.date | date: 'yyyy.MM.dd.'}}
            </div>
          </div>
          <div class="expense__edit">
            <i class="fas fa-pen"></i>
          </div>
      </div>
    </div>

    <!-- Expense filter is active -->
    <div class="activeFilter" *ngIf="isFilterActive">
      <h4>Current filter is from {{fromDate | date: 'yyyy.MM.dd.'}} to {{toDate | date: 'yyyy.MM.dd.'}}  </h4>
      <button class="btn-info" (click)="clearDateFilter()">Clear filter</button>

      <h5 *ngIf="filteredExpenses.length === 0" class="expense"> No spends are found in the selected date range</h5>
      <div class="expense" *ngFor="let expense of filteredExpenses" (click)="editToggle(expense)">
        <div class="expense__category">
          <div class="expense__category__icon">
            <div class="expense__category__icon__bg">
              <img src="{{expense.img}}" alt="{{expense.category}}">

            </div>
          </div>
          <div class="expense__category__name">
            <p>{{expense.category}}</p>
          </div>
        </div>
    
        <div class="expense__amount-date">
          <div class="expense__amount-date__amount">
            <p>{{expense.amount | currency : 'HUF' : 'symbol' : '1.0' }}</p>
          </div>
    
          <div class="expense__amount-date__date">
            {{expense.date | date: 'yyyy.MM.dd.'}}
          </div>
        </div>
        <div class="expense__edit">
          <i class="fas fa-pen"></i>
        </div>
      </div>
    </div>

  </section>
  
</div>

  <div class="edit" id="edit">
    <div class="edit__close-arrow">
      <i class="fas fa-arrow-circle-right" (click)="closeEdit()" ></i>
      <h5>Spend edit</h5>
    </div>
    <div class="edit__form">

      <form [formGroup]="editForm"  >

        <div class="edit__form__select" >
          <h6>Category</h6>
          <select name="Category" id="Category" formControlName="category" >
            <option *ngFor="let category of user.costCategories" value="{{category.name}}">{{category.name}}</option>
          </select>
        </div>

        <div class="edit__form__amount">
          <h6>Amount</h6>
          <input type="number" value="{{openedExpense?.amount}}" formControlName="amount">
        </div>
        
        <div class="edit__form__dateToggler">
          <button class="btn-info" (click)="toggleEditDate()">Edit date</button>
        </div>

        <div class="edit__form__date">
          <h6>Date</h6>
          <input type="date" formControlName="date" value="{{openedExpense?.date | date: 'yyyy.MM.dd' }}">
        </div>
        <div class="edit__form__btns">

        <input type="hidden" value="openedExpense.key" formControlName="key">

          <button type="submit" class="btn-primary" (click)="saveEditedExpense()"  value="Save changes" [disabled]="!editForm.valid">Save changes</button>
          
          <button class="btn-danger" (click)="deleteSpend(openedExpense.key)" >Delete spend</button>
        </div>
        
      </form>
    </div>
  </div>
  <app-footer></app-footer>

