<app-navbar></app-navbar>
<!-- Loading icon before expenses fetched from db -->
<div class="spinner" *ngIf="!expensesLoaded">
  <h4>Loading your spends...</h4>
  <img src="../../../assets/img/loader.gif" alt="">
</div>

  <div class="container" *ngIf="expensesLoaded">
    <div class="balance-total">
      <div class="balance-total__spend">
        <h1>Your total spend: {{totalSpend | currency : 'HUF' : 'symbol' : '1.0' }}</h1>

      </div>
    </div>
    

    
<app-chart></app-chart>
    <!-- Add spend btn -->
  <div class="add-spend" (click)="addSpendRoute()">
    <div class="add-spend__icon">

      <i class="fas fa-plus"></i>
    </div>
  </div>




  <!-- Expenses -->
  <section class="expenses-container" *ngIf="expensesLoaded">

    <div class="expense" *ngFor="let expense of expenses" (click)="editToggle(expense)" >
        <div class="expense__category" >
          <div class="expense__category__icon">
            <div class="expense__category__icon__bg">
              <img src="../../../assets/img/{{expense.category}}.svg" alt="{{expense.category}}">
            </div>
          </div>
          <div class="expense__category__name">
            <p>{{expense.category}}</p>
          </div>
        </div>

        <div class="expense__amount-date">
          <div class="expense__amount-date__amount">
            <p>{{expense.amount | currency : 'HUF' : 'symbol' : '1.0'  }}</p>
          </div>

          <div class="expense__amount-date__date">
            {{expense.date | date: 'yyyy.MM.dd.'}}
          </div>
        </div>
        <div class="expense__edit">
          <i class="fas fa-pen"></i>
        </div>
      
    </div>

  </section>

  <div class="edit">
    <div class="edit__close-arrow">
      <i class="fas fa-arrow-circle-right" (click)="editToggle()"></i>
      <h5>Spend edit</h5>
    </div>
    <div class="edit__form">

      <form [formGroup]="editForm"  >

        <div class="edit__form__select" >
          <h6>Category</h6>
          <select name="Category" id="Category" formControlName="category" >
            <option *ngFor="let category of user.costCategories" value="{{category.name}}">{{category.name}}</option>
          </select>
        </div>

        <div class="edit__form__amount">
          <h6>Amount</h6>
          <input type="number" value="{{openedExpense?.amount}}" formControlName="amount">
        </div>
        
        <div class="edit__form__dateToggler">
          <button class="btn-info" (click)="toggleEditDate()">Edit date</button>
        </div>

        <div class="edit__form__date">
          <h6>Date</h6>
          <input type="date" formControlName="date" value="{{openedExpense?.date | date: 'yyyy.MM.dd' }}">
        </div>
        <input type="hidden" value="openedExpense.key" formControlName="key" >
        <div class="edit__form__btns">
          <input type="submit" class="btn-primary" (click)="saveEditedExpense()"  value="Save changes" [disabled]="!editForm.valid">
          
          <button class="btn-danger" (click)="deleteSpend(openedExpense.key)" >Delete spend</button>
        </div>
        
      </form>
    </div>
  </div>

</div>